* {
  font-family: "Montserrat";
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #2f3e46;
  color: rgb(235, 231, 231);
}

footer {
  text-align: center;
  background-color: #354f52;
  padding: 20px 10px;
}

footer h4 a {
  text-decoration: none;
  color: rgb(235, 231, 231);
  transition: all 0.5s;
}

footer h4 a:hover {
  color: #3eb99a;
}

.game {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 60px;
}

.game-choice {
  width: 200px;
  height: 200px;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #52796f;
}

.players-choice .game-choice:hover {
  animation: shake 0.5s;
  cursor: pointer;
}

.game-choice img {
  width: 100%;
}

.count {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.name,
#player,
#computer {
  padding: 10px;
  border: 2px solid #fff;
  font-weight: 500;
}

#player {
  border-right: none;
}

.name {
  background-color: #84a98c;
  width: 110px;
  text-align: center;
}

.name:first-child {
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.name:last-child {
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3em;
}

#resetButton,
#howToPlay {
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 5px;
  background-color: #84a98c;
  color: rgb(235, 231, 231);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s;
}

#resetButton:hover,
#howToPlay:hover {
  background-color: #6f8f76;
}

.game-choice {
  transition: all 0.8s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
